/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --background: #3feee6;
  --red: #fc4445;
  --dark: #55bcc9;
  --neutral: #97caef;
  --light: #cafafe;
}

@keyframes Fade-In {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* .Title {
    animation: Fade-In 1s ease-out;
  } */

  /* .row {
    animation: Fade-In 1s ease-out 1s;
  } */
}