/* @keyframes Fade-In {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Title {
    animation: Fade-In 1s ease-out;
  }

  .row {
    animation: Fade-In 1s ease-out 1s;
  }
} */
